<mat-card class="container">
    <div class="text-center">
        <p class="mb-8">Waiting for players to join</p>
        <div class="flex justify-center mb-10">
            <div class="dot-flashing"></div>
        </div>
        <p class="gameId">Gamecode: {{gamecode}}</p>
        <p>Players joined</p>
        <ul class="list-none">
            <li class="flex justify-center">
                <img class="avatar" src="../../../../assets/avatars/001-scientist.svg">
                <p class="ml-4">Player 1</p>
            </li>
            <li class="flex justify-center">
                <img class="avatar" src="../../../../assets/avatars/001-scientist.svg">
                <p class="ml-4">Player 2</p>
            </li>
            <li class="flex justify-center">
                <img class="avatar" src="../../../../assets/avatars/001-scientist.svg">
                <p class="ml-4">Player 3</p>
            </li>
        </ul>
        <button mat-raised-button color="primary" class="m-4" (click)="routeToGame()">Start Game</button>
    </div>
</mat-card>
