
  <mat-card class="authentication-card">
        <mat-card-subtitle>Please login with your e-mail address and your password !</mat-card-subtitle>
        <mat-card-title class="">Login</mat-card-title>
      <mat-card-content>
        <form  [formGroup]="loginForm" (ngSubmit)="signInUser($event)">
        <div class="container-inptFields">
          <div class="row">
              <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="E-Mail"  formControlName="email">
                <mat-icon matSuffix class="material-icons-round">mail_outline</mat-icon>
              </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field appearance="legacy">
                <input matInput type="password" placeholder="Passwort"  formControlName="password">
                <mat-icon matSuffix class="material-icons-round">password</mat-icon>
              </mat-form-field>
          </div>
          <div class="row">
              <button mat-raised-button type="submit" color="primary" (click)="signInUser($event)">Login</button>
            </div>
          </div>
        </form>
      </mat-card-content>
      <div>
        Don't have an account yet? sing up
        <a href="/register">here</a>
      </div>
    </mat-card>


