<mat-card class="container">
    <div class="text-center">
        <p class="mb-8">Please wait until the host starts the game!</p>
        <div class="flex justify-center mb-10">
            <div class="dot-flashing"></div>
        </div>
        <p>Host: </p>
        <!-- Display Host -->
        <p>Other players who also joined: </p>
        <ul class="list-none">
            <li *ngFor="let user of this.allUsersInGame" class="flex justify-center">
                <img *ngIf="user[0]" class="avatar" src="{{user[0]}}">
                <p class="ml-4">{{user[2]}}</p>
            </li>
        </ul>
    </div>
</mat-card>
