<mat-card *ngIf="loggedIn == true;else logged_out" class="container">
    <div class="text-center">
        <p class="mb-8">Please enter a gamecode to join a game!</p>
        <mat-form-field appearance="legacy">
            <input matInput type="text" placeholder="Game Code" #gamecode>
            <mat-icon matSuffix class="material-icons-round"></mat-icon>
        </mat-form-field>
        <button class="ml-4" mat-raised-button type="submit" color="primary" (click)="joinGame(gamecode.value)">Join</button>
    </div>
</mat-card>

<ng-template #logged_out>
    <div class="text-white">Please Log In</div>
    <button mat-raised-button color="primary" class="m-4" (click)="logIn()">Log In</button>
</ng-template>
