<mat-card class="container">
    <div class="text-center">
        <p class="mb-8">Please enter a gamecode to join a game!</p>
        <mat-form-field appearance="legacy">
            <input matInput type="text" placeholder="Game Code"  formControlName="gamecode" #gamecode>
            <mat-icon matSuffix class="material-icons-round"></mat-icon>
        </mat-form-field>
        <button class="ml-4" mat-raised-button type="submit" color="primary" (click)="getGameId(gamecode.value)">Join</button>
    </div>
</mat-card>