<mat-card class="container">
    <div class="text-center">
        <p *ngIf="isDrawingRound">{{previousData}}</p>
        <div class="bg-white" *ngIf="isTextRound"><img src="{{previousData}}"></div>
    </div>

    <div #container></div>
    <div #containerDraw></div>
    <div #containerTimer></div>
    <div *ngIf="isFinished">
        <div *ngFor="let user of userList; let u = index">
            <h2>Initial Round ID: {{user}}</h2>
            <div *ngFor="let result of finalResults[u] let i = index">
                <div *ngIf = "result">
                <li class="list-none" *ngIf="i % 2 == 0">
                    <p>{{finalResults[u][i]}}</p>
                </li>
                <li class="list-none bg-white" *ngIf="i % 2 == 1">
                    <img src="{{finalResults[u][i]}}">
                </li>
            </div>
            </div>
        </div>
        <button mat-raised-button  color="primary" (click)="deleteGame()">Finish Game</button>
    </div>
</mat-card>
